# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# build output
build/

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# runtime files
pids
*.pid
*.seed
*.pid.lock

# editor directories and files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
